<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id="memory" class="ru.job4j.storage.MemoryStorage"/>-->
    <!--<bean id="jdbc" class="ru.job4j.storage.JdbcStorage"/>-->
    <!--<bean id="userStorage" class="ru.job4j.storage.UserStorage">-->
        <!--<constructor-arg name="storage" ref="memory"/>-->
    <!--</bean>-->

    <import resource="jdbc-template"/>
    
    <context:component-scan base-package="ru.job4j"/>

</beans>