.table-td {
    text-align: center;
    width: 10%;
}
.size {
    width: 35%;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.table {
    table-layout: fixed;
    width: 100%;
}

.image {
    width: 150px;
    height: 150px;
}